#if($allow.send == true)
<div class="my-3 p-3 tsfr-bg-gray-2 rounded shadow-sm">
    <h4 class="tsfr-text-white">Enviar Arquivo</h4>
    <form method="post" enctype="multipart/form-data" action="/receive">
        <div class="container">
            <div class="row">
                <div class="input-group">
                    <input type="file" class="form-control" name="arquivo" onclick="setShouldUpdate(false)" onchange="checkForFiles()">
                    <button class="btn btn-outline-primary" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </form>
    <br>
</div>
#end
#if($allow.delete == true || $allow.open == true || $allow.download == true)
<div class="my-3 p-3 tsfr-bg-gray-2 rounded shadow-sm">
    <h4 class="tsfr-text-white">Baixar Arquivo</h4><br>
    #if(!$fileinfolist)
    <br>
    <p class="text-center tsfr-text-white">Não há arquivos salvos no momento</p>
    <br>
    #else
    <div>
        <table class="table table-striped table-dark" id="tbfiles">
            <thead>
                <tr>
                    <th scope="col" class="text-center" style="width: 50%">Arquivo</th>
                    <th scope="col" class="text-center" style="width: 25%">Modificado Em</th>
                    <th scope="col" class="text-center" style="width: 25%">Opções</th>
                </tr>
            </thead><tbody>
                #foreach($fileinfo in $fileinfolist)
                <tr>
                    <td class="text-center">$fileinfo.getFilename()</td>
                    <td class="text-center">$converter.convertDate($fileinfo.getLastModified())</td>
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            #if($allow.download == true)
                            <a type="button" href="/download/$fileinfo.getFilename()" target="_blank" class="btn btn-primary">Baixar</a>
                            #end
                            #if($allow.delete == true)
                            <a type="button" onclick='remover("$fileinfo.getFilename()")' class="btn btn-danger">Remover</a>
                            #end
                            #if($allow.open == true)
                            <a type="button" href="/open/$fileinfo.getFilename()" target="_blank" class="btn btn-info">Abrir</a>
                            #end
                        </div>
                    </td>
                </tr>
                #end
            </tbody>
        </table>
    </div>
    #end
</div>
#end
<script type="text/javascript">
    function getInterval() {
        return $interval;
    }
</script>