.tsfr-navbar-bg{
    background-color: #12172A;
}

.tsfr-navbar-bg span, .tsfr-navbar-bg a {
   color: white;
}

.tsfr-bg-gray{
    background-color: #1B1E22;
}

.tsfr-bg-gray-2{
    background-color: #1E2226;
}

.tsfr-text-white{
    color: white;
}

.tsfr-alert-error{
    background-color: #5F2A32;
    border-color: #7F2D37;
    color: #cccccc;
}
.tsfr-alert-success{
    background-color: #235032;
    border-color: #256637;
    color: #cccccc;
}
